@import '../../style/color.scss';

.msg {

    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);

}

.container-message {

    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    height: calc(100% - 40px);

}

.container-input {

    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #eee;

}

.sub-container-input{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.btn-message{

    width: 100px;
    height: 24px;
    outline: none;
    margin: 0 10px;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all 0.2s;
    border: 1px solid #eee;

}

.container-message-data {

    width: auto;
    margin: 10px;
    padding: 5px 8px;
    border-radius: 8px;
    min-width: 200px;
    background-color: #eee;

}

.img-send {


    height: 100%;

}

.companion {

    float: left;
    background-color: $gray100;
    border: 1px solid $gray200;

}

.user{

    float: right;
    background-color: $green200;
    border: 1px solid $green100;

}

.msg-user {

    font-size: 10px;

}