@import '../../../style/color.scss';

.navigation { 

    grid-row: 1;
    width: 100%;
    display: flex;
    grid-column: 2 / 4;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    border-bottom: 1px solid #eee;

}

.navigation-handler-container{


    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 10px;
    align-items: center;
    justify-content: center;

}

.navigation-handler{

    height: 2px;
    margin: 0 10px;
    min-width: 30px;
    background: #000;
    box-shadow: 0 -6px #000, 0 6px #000;

}
